// SVG Global Styles

// // Fixed size, centered SVG in fixed size container
// // Include from container

@mixin svg-centered($svg-width, $svg-height, $wrapper-width, $wrapper-height, $svg-class: svg) {

  @if ($wrapper-width < $svg-width or $wrapper-height < $svg-height) {
    @error ('Wrapper can not be larger the the svg');
  }

  position: relative;
  width: $wrapper-width;
  height: $wrapper-height;

  .#{$svg-class} {
    position: absolute;
    top: ($wrapper-height - $svg-height) / 2;
    left: ($wrapper-width - $svg-width) / 2;
    width: $svg-width;
    height: $svg-height;
  }
}
